@use '../../styles/variaveis';

.botao {
    background-color: variaveis.$color-green-100;
    border-radius: 8px;
    border: none;
    color: variaveis.$color-white;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 20px;
    width: 100%;
    &:hover{
        background-color: variaveis.$color-green-200;
    }
}