@use '../../styles/variaveis';

.menu {
    display: flex;
    margin: 40px 90px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    img {
        width: 100px;
        height: 32px;
    }
    .solicitacoes {
        display: flex;
        gap: 16px;
        text-align: center;
        align-items: center;
        .solicitacoes__reembolso {
            color: variaveis.$color-green-100;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            padding: 6px 20px;
        }
    }
}